Source: arc-theme
Section: misc
Priority: extra
Maintainer: David Mohammed <foss.freedom@gmail.com>
Build-Depends: debhelper (>= 9),
 dh-buildinfo,
 dh-autoreconf,
 pkg-config,
 libgtk-3-dev
Standards-Version: 3.9.8
Homepage: https://github.com/horst3180/arc-theme

Package: arc-theme
Architecture: all
Depends: gnome-themes-standard, 
 gtk2-engines-murrine,
 ${misc:Depends}
Description: A flat theme with transparent elements
 Arc is a flat theme with transparent elements for GTK 3, GTK 2 and 
 Gnome-Shell which supports GTK 3 and GTK 2 based desktop environments 
 like Gnome, Unity, Budgie, Pantheon, XFCE, Mate, etc.
 .
 Arc is available in three variants:
 Arc, Arc-Darker, Arc-Dark
 
